In [137]:
import plotly.plotly as py
import pandas as pd

pd.set_option("display.max_columns", 100)

In [138]:
data_h1 = pd.read_excel("H-1B_Disclosure_Data_FY17.xlsx")

In [139]:
print("##### All Columns ######")
for col in data_h1.columns:
    print(col)

##### All Columns ######
CASE_NUMBER
CASE_STATUS
CASE_SUBMITTED
DECISION_DATE
VISA_CLASS
EMPLOYMENT_START_DATE
EMPLOYMENT_END_DATE
EMPLOYER_NAME
EMPLOYER_BUSINESS_DBA
EMPLOYER_ADDRESS
EMPLOYER_CITY
EMPLOYER_STATE
EMPLOYER_POSTAL_CODE
EMPLOYER_COUNTRY
EMPLOYER_PROVINCE
EMPLOYER_PHONE
EMPLOYER_PHONE_EXT
AGENT_REPRESENTING_EMPLOYER
AGENT_ATTORNEY_NAME
AGENT_ATTORNEY_CITY
AGENT_ATTORNEY_STATE
JOB_TITLE
SOC_CODE
SOC_NAME
NAICS_CODE
TOTAL_WORKERS
NEW_EMPLOYMENT
CONTINUED_EMPLOYMENT
CHANGE_PREVIOUS_EMPLOYMENT
NEW_CONCURRENT_EMPLOYMENT
CHANGE_EMPLOYER
AMENDED_PETITION
FULL_TIME_POSITION
PREVAILING_WAGE
PW_UNIT_OF_PAY
PW_WAGE_LEVEL
PW_SOURCE
PW_SOURCE_YEAR
PW_SOURCE_OTHER
WAGE_RATE_OF_PAY_FROM
WAGE_RATE_OF_PAY_TO
WAGE_UNIT_OF_PAY
H1B_DEPENDENT
WILLFUL_VIOLATOR
SUPPORT_H1B
LABOR_CON_AGREE
PUBLIC_DISCLOSURE_LOCATION
WORKSITE_CITY
WORKSITE_COUNTY
WORKSITE_STATE
WORKSITE_POSTAL_CODE
ORIGINAL_CERT_DATE

In [140]:
data_h1.VISA_CLASS.value_counts(normalize = True) * 100

H-1B               97.703354
E-3 Australian      1.946210
H-1B1 Singapore     0.200752
H-1B1 Chile         0.149684
Name: VISA_CLASS, dtype: float64

In [141]:
pd.DataFrame(data_h1.EMPLOYER_STATE.value_counts(normalize = True)) * 100

    EMPLOYER_STATE
CA       16.922124
TX       14.034504
NJ       12.176930
NY        7.059677
IL        6.611253
MI        4.373775
PA        4.092650
MA        3.743484
MD        3.425057
WA        3.327719
VA        3.101666
FL        3.101506
NC        2.982236
GA        2.700790
OH        1.514332
CT        0.957844
MO        0.849940
MN        0.761248
TN        0.740916
AZ        0.666953
CO        0.649502
WI        0.570576
IN        0.465074
KY        0.397194
DE        0.389189
AR        0.350606
UT        0.338759
DC        0.334437
IA        0.329154
KS        0.302258
NE        0.279204
OR        0.272160
SC        0.244624
LA        0.202839
AL        0.189231
RI        0.168739
NH        0.165537
OK        0.157052
NV        0.156092
NM        0.101500
ID        0.098618
PR        0.094135
MS        0.082449
ME        0.074604
VT        0.068040
WV        0.061956
HI        0.056673
MP        0.054752
GU        0.054112
ND        0.050590
SD        0.036341
MT        0.019692
WY        0.017130
AK        0.013128
VI        0.009125
FM        0.000160
AS        0.000160

In [142]:
title = pd.DataFrame(data_h1.JOB_TITLE.value_counts()).reset_index()
title.columns = ["title","count"]

In [143]:
title[title["title"].str.contains("DATA SCIENCE") | title["title"].str.contains("DATA SCIENTIST")]

                                                   title  count
47                                        DATA SCIENTIST   1312
332                                SENIOR DATA SCIENTIST    208
883                                 DATA SCIENCE ANALYST     56
1087                            ASSOCIATE DATA SCIENTIST     45
1388                                   DATA SCIENTIST II     33
1417                                  SR. DATA SCIENTIST     32
1420                                 LEAD DATA SCIENTIST     32
1903                                    DATA SCIENTIST I     23
2227                               DATA SCIENCE ENGINEER     19
2256                      SENIOR ASSOCIATE, DATA SCIENCE     19
2269                                STAFF DATA SCIENTIST     19
2576                                    DATA SCIENTIST 1     16
2709                               MANAGER, DATA SCIENCE     15
2751                            PRINCIPAL DATA SCIENTIST     15
2769                         LEAD ANALYST - DATA SCIENCE     15
2953                        SENIOR ANALYST, DATA SCIENCE     14
3048                               JUNIOR DATA SCIENTIST     13
3324                         DATA SCIENCE SENIOR ANALYST     12
3354                                    DATA SCIENTIST 2     12
3953                             DATA SCIENCE CONSULTANT     10
4495                           DATA SCIENTIST, ANALYTICS      9
4654                              DATA SCIENTIST ANALYST      8
4752                             ASSOCIATE, DATA SCIENCE      8
4927                                DATA SCIENCE MANAGER      8
5241                              DIRECTOR, DATA SCIENCE      7
6448                                  DATA SCIENTIST III      6
6733                       INFRASTRUCTURE DATA SCIENTIST      6
7533                   PRINCIPAL ASSOCIATE, DATA SCIENCE      5
8558                        COMPUTATIONAL DATA SCIENTIST      4
9261                              DATA SCIENCES ENGINEER      4
...                                                  ...    ...
84440               TECHNICAL DEVELOPER (DATA SCIENTIST)      1
84858                            DATA SCIENCE- SCIENTIST      1
84920                          STAFF TECH DATA SCIENTIST      1
85220                    DATA SCIENCE, PRODUCT ANALYTICS      1
85711               SECURITY AND CUSTOMER DATA SCIENTIST      1
85863                       SR. ASSOCIATE DATA SCIENTIST      1
86091             VICE PRESIDENT, MARKETING DATA SCIENCE      1
86527                                 BIG DATA SCIENTIST      1
86563                          SR. ANALYST, DATA SCIENCE      1
86666                            MANAGING DATA SCIENTIST      1
86721  DATA MINING AND PREDICTIVE ANALYTICS DATA SCIE...      1
87137                          BIOMEDICAL DATA SCIENTIST      1
87498                  MANAGER, ANALYTICS & DATA SCIENCE      1
88385                      DATA SCIENCE MACHINE LEARNING      1
88642                            ADVISORY DATA SCIENTIST      1
88717                     DATA SCIENTIST-COMPUTER VISION      1
88757                   DATA SCIENTIST, PROCESS ENGINEER      1
88919               GEOSPATIAL DATA SCIENTIST / ENGINEER      1
88976                          JR. DATA SCIENCE DIRECTOR      1
89047                  ANALYST, ANALYTICS & DATA SCIENCE      1
89316                    PROCESS LEAD AND DATA SCIENTIST      1
89663                        SR. DATA SCIENCE CONSULTANT      1
89878                           ASSISTANT DATA SCIENTIST      1
90088           PRODUCT ANALYST/DATA SCIENTIST, MODELING      1
90256     DATA SCIENTIST (BUSINESS INTELLIGENCE ANALYST)      1
91893                          DATA SCIENTIST IV, DESIGN      1
92624                      ANALYST, REVENUE DATA SCIENCE      1
92630               DATA SCIENTIST, PREDICTIVE ANALYTICS      1
92695                             DATA SCIENTIST/ANALYST      1
92708           STAFF SOFTWARE ENGINEER (DATA SCIENTIST)      1

[408 rows x 2 columns]

In [144]:
data_h1["PW_WAGE_LEVEL"].value_counts(normalize = True)

Level I      0.442872
Level II     0.358204
Level III    0.125608
Level IV     0.073316
Name: PW_WAGE_LEVEL, dtype: float64

In [145]:
data_h1["PW_UNIT_OF_PAY"].value_counts()

unitpay_to_num = {"Year":1, "Hour": 2080, "Month": 12, "Bi-Weekly": 24}

In [146]:
data_h1[["MULTIPLIER","PW_UNIT_OF_PAY"]].groupby(["MULTIPLIER","PW_UNIT_OF_PAY"]).count()

KeyError: "['MULTIPLIER'] not in index"

In [ ]:
data_h1["MULTIPLIER"] = data_h1["PW_UNIT_OF_PAY"].map(unitpay_to_num)
data_h1["ACTUAL_SALARY"] = data_h1["WAGE_RATE_OF_PAY_FROM"] * data_h1["MULTIPLIER"]

In [ ]:
ass_ds = data_h1[data_h1["JOB_TITLE"] == "ASSOCIATE DATA SCIENTIST"][["ACTUAL_SALARY","WAGE_RATE_OF_PAY_FROM","PW_UNIT_OF_PAY","EMPLOYER_NAME","EMPLOYER_CITY","EMPLOYER_STATE"]]

In [ ]:
ass_ds = ass_ds.reset_index(drop = True)

In [ ]:
viz = ass_ds.sort_values(by = "ACTUAL_SALARY", ascending= False)

In [ ]:
#viz = viz.drop("text", axis = 1)
viz["WAGE_RATE_OF_PAY_FROM"] = viz["WAGE_RATE_OF_PAY_FROM"].astype(float)
final_viz = pd.DataFrame(viz.groupby(['EMPLOYER_STATE'])['WAGE_RATE_OF_PAY_FROM'].mean()).reset_index()

### Only Data Science related jobs

In [70]:
data_h1["JOB_TITLE"] = data_h1["JOB_TITLE"].fillna("not available")

In [120]:
# ds_h1 = data_h1[data_h1["JOB_TITLE"].str.contains("DATA SCIENCE") 
#         | data_h1["JOB_TITLE"].str.contains("DATA SCIENTIST") |
#        data_h1["JOB_TITLE"].str.contains("MACHINE LEARNING") ]

ds_h1 = data_h1[(data_h1["JOB_TITLE"] == "DATA SCIENTIST") | (data_h1["JOB_TITLE"] == "ASSOCIATE DATA SCIENTIST") ]

In [133]:
ds_h1.sort_values(by = "ACTUAL_SALARY", ascending= False)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_REPRESENTING_EMPLOYER,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAICS_CODE,TOTAL_WORKERS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_LEVEL,PW_SOURCE,PW_SOURCE_YEAR,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE,MULTIPLIER,ACTUAL_SALARY
176737,I-200-17047-175625,CERTIFIED,2017-02-16,2017-02-23,H-1B,2017-02-17,2019-02-17,CRISIS TEXT LINE,NaN,24 W 25TH ST,NEW YORK,NY,10010,UNITED STATES OF AMERICA,NaN,2014287150,NaN,N,",",NaN,NaN,DATA SCIENTIST,15-1111,COMPUTER AND INFORMATION RESEARCH SCIENTISTS,624190,1,1,0,0,0,0,0,Y,7.25,Hour,Level I,Other,2016.0,FLCDATACENTER.COM,90000.00,0.0,Year,N,N,NaN,Y,NaN,NEW YORK,NEW YORK,NY,10010,NaT,2080.0,1.872000e+08
162232,I-200-17046-606425,DENIED,2017-02-15,2017-02-16,H-1B,2017-01-30,2020-01-30,CRISIS TEXT LINE,NaN,24 W 25TH ST,NEW YORK,NY,10010,UNITED STATES OF AMERICA,NaN,2014287150,NaN,N,",",NaN,NaN,DATA SCIENTIST,15-1111,COMPUTER AND INFORMATION RESEARCH SCIENTISTS,624190,1,1,0,0,0,0,0,Y,7.25,Hour,Level I,Other,2016.0,HTTP://WWW.FLCDATACENTER.COM,90000.00,0.0,Year,Y,N,N,Y,NaN,NEW YORK,NEW YORK,NY,10010,NaT,2080.0,1.872000e+08
223382,I-200-17040-057880,DENIED,2017-03-02,2017-03-08,H-1B,2017-03-03,2020-02-16,"ZENABI DATA, LLC",NaN,15 FRANKLIN STREET,WESTPORT,CT,06880,UNITED STATES OF AMERICA,NaN,8604493942,NaN,N,",",NaN,NaN,DATA SCIENTIST,15-1121,COMPUTER SYSTEMS ANALYSTS,5182,1,1,0,0,0,0,0,Y,41.37,Hour,NaN,OES,2016.0,OFLC ONLINE DATA CENTER,85000.00,0.0,Year,N,N,NaN,Y,NaN,WESTPORT,FAIRFIELD,CT,06880,NaT,2080.0,1.768000e+08
435274,I-200-17104-443374,CERTIFIED,2017-04-14,2017-04-20,H-1B,2017-10-13,2020-10-12,"AIRBNB, INC.",NaN,888 BRANNAN STREET,SAN FRANCISCO,CA,94103,UNITED STATES OF AMERICA,NaN,4158005959,NaN,Y,"SHEPPARD, DONALD",SAN DIEGO,CA,DATA SCIENTIST,15-2041,STATISTICIANS,561599,1,0,1,0,0,0,0,Y,138507.00,Year,Level IV,OES,2016.0,OFLC ONLINE DATA CENTER,253629.79,0.0,Year,N,N,NaN,NaN,NaN,SAN FRANCISCO,SAN FRANCISCO,CA,94103,NaT,1.0,2.536298e+05
12935,I-200-16281-226946,CERTIFIED,2016-10-07,2016-10-14,H-1B,2016-10-17,2019-10-17,JD.COM AMERICAN TECHNOLOGIES CORPORATION,NaN,"2900 LAKESIDE DR., #230",SANTA CLARA,CA,95054,UNITED STATES OF AMERICA,NaN,4082170073,NaN,Y,"CAI, TERESA",SAN JOSE,CA,DATA SCIENTIST,15-1111,COMPUTER AND INFORMATION RESEARCH SCIENTISTS,519190,1,0,0,0,0,1,0,Y,183976.00,Year,Level IV,OES,2016.0,OFLC ONLINE DATA CENTER,250000.00,270000.0,Year,N,N,NaN,Y,NaN,SANTA CLARA,SANTA CLARA COUNTY,CA,95054,NaT,1.0,2.500000e+05
190284,I-200-17053-901974,CERTIFIED,2017-02-22,2017-02-28,H-1B,2017-03-06,2020-03-05,CITADEL LLC,NaN,131 S. DEARBORN STREET,CHICAGO,IL,60603,UNITED STATES OF AMERICA,NaN,3123952100,NaN,Y,"MINER, KEVIN",ATLANTA,GA,DATA SCIENTIST,15-2031,OPERATIONS RESEARCH ANALYSTS,523920,1,0,0,0,0,1,0,Y,69763.00,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,210000.00,0.0,Year,N,N,NaN,NaN,NaN,CHICAGO,COOK,IL,60603,NaT,1.0,2.100000e+05
156135,I-200-17040-382625,CERTIFIED,2017-02-09,2017-02-15,H-1B,2017-05-27,2020-05-27,"WHISPERTEXT, INC.",NaN,69 WINDWARD AVE.,VENICE,CA,90291,UNITED STATES OF AMERICA,NaN,3103957800,NaN,Y,"LAWLER, MARTIN",SAN FRANCISCO,CA,DATA SCIENTIST,15-1133,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",54151,1,0,1,0,0,0,0,Y,137010.00,Year,Level IV,Other,2016.0,OFLC ONLINE DATA CENTER,200000.00,0.0,Year,N,N,NaN,Y,NaN,VENICE,CALIFORNIA,CA,90291,NaT,1.0,2.000000e+05
501124,I-200-17160-829662,CERTIFIED,2017-06-09,2017-06-15,H-1B,2017-07-31,2020-07-30,"AIRBNB, INC.",NaN,888 BRANNAN STREET,SAN FRANCISCO,CA,94103,UNITED STATES OF AMERICA,NaN,4158005959,NaN,Y,"SHEPPARD, DONALD",SAN DIEGO,CA,DATA SCIENTIST,15-2041,STATISTICIANS,561599,1,0,0,0,0,1,0,Y,138507.00,Year,Level IV,OES,2016.0,OFLC ONLINE DATA CENTER,190000.00,0.0,Year,N,N,NaN,NaN,NaN,SAN FRANCISCO,SAN FRANCISCO,CA,94103,NaT,1.0,1.900000e+05
314342,I-200-17072-888975,CERTIFIED,2017-03-14,2017-03-20,H-1B,2017-04-01,2020-03-31,COURSERA INC.,NaN,381 E EVELYN AVE,MOUNTAIN VIEW,CA,94041,UNITED STATES OF AMERICA,NaN,6508256946,NaN,Y,"HOGAN, ADDIE",SAN FRANCISCO,CA,DATA SCIENTIST,15-1111,COMPUTER AND INFORMATION RESEARCH SCIENTISTS,611310,1,0,0,1,0,0,0,Y,154170.00,Year,Level III,OES,2016.0,OFLC ONLINE DATA CENTER,185000.00,0.0,Year,N,N,NaN,NaN,NaN,MOUNTAIN VIEW,SANTA CLARA,CA,94041,NaT,1.0,1.850000e+05
417305,I-200-17093-332283,DENIED,2017-04-03,2017-04-06,H-1B,2017-10-01,2020-09-30,"AIRBNB, INC.",NaN,888 BRANNAN STREET,SAN FRANCISCO,CA,94103,UNITED STATES OF AMERICA,NaN,4158005959,NaN,Y,"SHEPPARD, DONALD",SAN DIEGO,CA,DATA SCIENTIST,15-2041,STATISTICIANS,561599,1,0,0,0,0,0,0,Y,138507.00,Year,Level IV,OES,2016.0,OFLC ONLINE DATA CENTER,182609.71,0.0,Year,N,N,NaN,NaN,NaN,SAN FRANCISCO,SAN FRANCISCO,CA,94103,NaT,1.0,1.826097e+05
424324,I-200-17096-853347,CERTIFIED,2017-04-06,2017-04-12,H-1B,2017-10-01,2020-09-30,"AIRBNB, INC.",NaN,888 BRANNAN STREET,SAN FRANCISCO,CA,94103,UNITED STATES OF AMERICA,NaN,4158005959,NaN,Y,"SHEPPARD, DONALD",SAN DIEGO,CA,DATA SCIENTIST,15-2041,STATISTICIANS,561599,1,0,1,0,0,0,0,Y,138507.00,Year,Level IV,OES,2016.0,OFLC ONLINE DATA CENTER,182609.71,0.0,Year,N,N,NaN,NaN,NaN,SAN FRANCISCO,SAN FRANCISCO,CA,94103,NaT,1.0,1.826097e+05
451288,I-200-17116-550282,CERTIFIED,2017-04-27,2017-05-03,H-1B,2017-10-21,2020-10-21,"FACEBOOK, INC.",NaN,1 HACKER WAY,MENLO PARK,CA,94025,UNITED STATES OF AMERICA,NaN,6507393143,NaN,Y,"CHAUDHRY, SHEHRYAR",SAN FRANCISCO,CA,DATA SCIENTIST,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",518112,1,0,1,0,0,0,0,Y,144812.00,Year,NaN,Other,2017.0,RADFORD GLOBAL TECHNOLOGY SURVEY,182280.94,0.0,Year,Y,N,Y,NaN,NaN,MENLO PARK,SAN MATEO,CA,94025,NaT,1.0,1.822809e+05
162485,I-200-17041-201353,CERTIFIED,2017-02-13,2017-02-17,H-1B,2017-02-27,2020-02-27,"FACEBOOK, INC.",NaN,1 HACKER WAY,MENLO PARK,CA,94025,UNITED STATES OF AMERICA,NaN,6507393143,NaN,Y,"CHAUDHRY, SHEHRYAR",SAN FRANCISCO,CA,DATA SCIENTIST,15-2041,STATISTICIANS,518112,1,0,0,0,0,1,0,Y,144812.00,Year,NaN,Other,2017.0,RADFORD GLOBAL TECHNOLOGY SURVEY,180000.00,0.0,Year,Y,N,Y,NaN,NaN,MENLO PARK,SAN MATEO,CA,94025,NaT,1.0,1.800000e+05
219734,I-200-17059-752168,CERTIFIED,2017-03-01,2017-03-07,H-1B,2017-03-13,2020-03-13,"FACEBOOK, INC.",NaN,1 HACKER WAY,MENLO PARK,CA,94025,UNITED STATES OF AMERICA,NaN,6507393143,NaN,Y,"CHAUDHRY, SHEHRYAR",SAN FRANCISCO,CA,DATA SCIENTIST,15-2041,STATISTICIANS,518112,1,0,0,0,0,1,0,Y,120323.00,Year,NaN,Other,2017.0,RADFORD GLOBAL TECHNOLOGY SURVEY,175000.00,0.0,Year,Y,N,Y,NaN,NaN,SEATTLE,KING,WA,98109,NaT,1.0,1.750000e+05
68179,I-200-16336-405211,CERTIFIED,2016-12-02,2016-12-08,H-1B,2016-12-19,2019-12-18,CITADEL LLC,NaN,131 S. DEARBORN STREET,CHICAGO,IL,60603,UNITED STATES OF AMERICA,NaN,3123726,NaN,Y,"MINER, KEVIN",ATLANTA,GA,DATA SCIENTIST,15-2031,OPERATIONS RESEARCH ANALYSTS,523920,1,0,0,0,0,1,0,Y,69763.00,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,175000.00,0.0,Year,N,N,NaN,NaN,NaN,CHICAGO,COOK,IL,60603,NaT,1.0,1.750000e+05
301848,I-200-17072-209446,CERTIFIED,2017-03-13,2017-03-17,H-1B,2017-03-20,2020-03-19,"IMC AMERICAS, INC.",NaN,233 S. WACKER DRIVE,CHICAGO,IL,60606,UNITED STATES OF AMERICA,NaN,3122443322,NaN,Y,"LINDT, MARKETA",CHICAGO,IL,DATA SCIENTIST,15-2031,OPERATIONS RESEARCH ANALYSTS,523110,1,0,0,0,0,1,0,Y,69763.00,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,175000.00,0.0,Year,N,N,NaN,Y,NaN,CHICAGO,COOK,IL,60606,NaT,1.0,1.750000e+05
434046,I-200-17102-114610,CERTIFIED,2017-04-13,2017-04-19,H-1B,2017-05-01,2020-05-01,"FACEBOOK, INC.",NaN,1 HACKER WAY*,MENLO PARK,CA,94025,UNITED STATES OF AMERICA,NaN,6507393143,NaN,Y,"DUBITZKY, MICHAEL",SAN FRANCISCO,CA,DATA SCIENTIST,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",518112,1,0,0,0,0,1,0,Y,144812.00,Year,NaN,Other,2017.0,RADFORD GLOBAL TECHNOLOGY SURVEY,175000.00,0.0,Year,Y,N,Y,NaN,NaN,MENLO PARK,SAN MATEO,CA,94025,NaT,1.0,1.750000e+05
44891,I-200-16300-425920,CERTIFIED-WITHDRAWN,2016-10-27,2016-11-16,H-1B,2016-11-14,2019-11-14,"FACEBOOK, INC.",NaN,1 HACKER WAY,MENLO PARK,CA,94025,UNITED STATES OF AMERICA,NaN,6507393143,NaN,Y,"CHAUDHRY, SHEHRYAR",SAN FRANCISCO,CA,DATA SCIENTIST,15-2041,STATISTICIANS,518112,1,0,0,0,0,1,0,Y,143192.00,Year,NaN,Other,2016.0,RADFORD GLOBAL TECHNOLOGY SURVEY,175000.00,0.0,Year,Y,N,Y,NaN,NaN,MENLO PARK,SAN MATEO,CA,94025,2016-10-28,1.0,1.750000e+05
153081,I-200-17039-051713,CERTIFIED,2017-02-08,2017-02-14,H-1B,2017-07-29,2020-07-28,"TWITTER, INC.",NaN,1355 MARKET ST.,SAN FRANCISCO,CA,94103,UNITED STATES OF AMERICA,NaN,4158945125,NaN,Y,"URIBE, ELMER",ARLINGTON,VA,DATA SCIENTIST,15-2041,STATISTICIANS,541511,1,0,1,0,0,0,0,Y,138507.00,Year,Level IV,OES,2016.0,OFLC ONLINE DATA CENTER,172000.00,0.0,Year,N,N,NaN,NaN,NaN,SAN FRANCISCO,SAN FRANCISCO,CA,94103,NaT,1.0,1.720000e+05
617062,I-200-17257-210101,CERTIFIED,2017-09-19,2017-09-25,H-1B,2017-09-25,2020-09-25,"FACEBOOK, INC.",NaN,1 HACKER WAY,MENLO PARK,CA,94025,NaN,NaN,NaN,NaN,NaN,",",NaN,NaN,DATA SCIENTIST,15-2021,MATHEMATICIANS,518112,1,0,0,1,0,0,0,Y,127104.00,Year,NaN,Other,2017.0,RADFORD GLOBAL TECHNOLOGY SURVEY,171920.93,0.0,Year,Y,N,Y,NaN,NaN,SEATTLE,KING,WA,98109,NaT,1.0,1.719209e+05
429981,I-200-17097-548378,CERTIFIED,2017-04-11,2017-04-17,H-1B,2017-04-24,2020-04-24,"FACEBOOK, INC.",NaN,1 HACKER WAY,MENLO PARK,CA,94025,UNITED STATES OF AMERICA,NaN,6507393143,NaN,Y,"CHAUDHRY, SHEHRYAR",SAN FRANCISCO,CA,DATA SCIENTIST,15-2031,OPERATIONS RESEARCH ANALYSTS,518112,1,0,0,0,0,1,0,Y,144812.00,Year,NaN,Other,2017.0,RADFORD GLOBAL TECHNOLOGY SURVEY,170000.00,0.0,Year,Y,N,Y,NaN,NaN,MENLO PARK,SAN MATEO,CA,94025,NaT,1.0,1.700000e+05
592007,I-203-17234-513785,CERTIFIED,2017-08-25,2017-08-31,E-3 Australian,2017-10-02,2019-10-02,"FACEBOOK, INC.",NaN,1 HACKER WAY*,MENLO PARK,CA,94025,NaN,NaN,NaN,NaN,NaN,",",NaN,NaN,DATA SCIENTIST,15-2041,STATISTICIANS,518112,1,1,0,0,0,0,0,Y,145515.00,Year,NaN,Other,2017.0,RADFORD GLOBAL TECHNOLOGY SURVEY,170000.00,0.0,Year,NaN,NaN,NaN,NaN,NaN,MENLO PARK,SAN MATEO,CA,94025,NaT,1.0,1.700000e+05
69234,I-200-16337-116218,CERTIFIED,2016-12-05,2016-12-09,H-1B,2016-12-19,2019-12-19,"FACEBOOK, INC.",NaN,1 HACKER WAY*,MENLO PARK,CA,94025,UNITED STATES OF AMERICA,NaN,6507393143,NaN,Y,"DUBITZKY, MICHAEL",SAN FRANCISCO,CA,DATA SCIENTIST,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",518112,1,0,0,0,0,1,0,Y,124323.00,Year,NaN,Other,2016.0,RADFORD GLOBAL TECHNOLOGY SURVEY,170000.00,0.0,Year,Y,N,Y,NaN,NaN,SEATTLE,KING,WA,98109,NaT,1.0,1.700000e+05
592423,I-200-17237-984162,CERTIFIED,2017-08-25,2017-08-31,H-1B,2017-09-04,2020-09-03,CRITEO CORP,NaN,387 PARK AVENUE SOUTH,NEW YORK,NY,10016,NaN,NaN,NaN,NaN,NaN,",",NaN,NaN,DATA SCIENTIST,15-1111,COMPUTER AND INFORMATION RESEARCH SCIENTISTS,519130,1,0,0,0,0,1,0,Y,147347.00,Year,NaN,OES,2017.0,OFLC ONLINE DATA CENTER,170000.00,0.0,Year,N,N,NaN,NaN,NaN,PALO ALTO,SANTA CLARA,CA,94301,NaT,1.0,1.700000e+05
419164,I-203-17088-294355,CERTIFIED,2017-04-03,2017-04-07,E-3 Australian,2017-04-10,2019-04-10,"FACEBOOK, INC.",NaN,1 HACKER WAY,MENLO PARK,CA,94025,UNITED STATES OF AMERICA,NaN,6507393143,NaN,Y,"CHAUDHRY, SHEHRYAR",SAN FRANCISCO,CA,DATA SCIENTIST,15-2021,MATHEMATICIANS,518112,1,1,0,0,0,0,0,Y,144812.00,Year,NaN,Other,2017.0,RADFORD GLOBAL TECHNOLOGY SURVEY,170000.00,0.0,Year,NaN,NaN,NaN,NaN,NaN,MENLO PARK,SAN MATEO,CA,94025,NaT,1.0,1.700000e+05
316186,I-200-17069-914239,CERTIFIED,2017-03-13,2017-03-21,H-1B,2017-08-21,2020-08-21,"FACEBOOK, INC.",NaN,1 HACKER WAY*,MENLO PARK,CA,94025,UNITED STATES OF AMERICA,NaN,6507393143,NaN,Y,"MARTINEZ, TIFFANY",SAN FRANCISCO,CA,DATA SCIENTIST,19-3011,ECONOMISTS,518112,1,0,1,0,0,0,0,Y,157431.00,Year,NaN,Other,2017.0,RADFORD GLOBAL TECHNOLOGY SURVEY,167450.00,0.0,Year,Y,N,Y,NaN,NaN,MENLO PARK,SAN MATEO,CA,94025,NaT,1.0,1.674500e+05
84864,I-200-16354-613636,CERTIFIED,2016-12-19,2016-12-23,H-1B,2017-01-16,2020-01-15,"LYFT, INC.",NaN,185 BERRY STREET,SAN FRANCISCO,CA,94107,UNITED STATES OF AMERICA,NaN,4157661147,NaN,Y,"SHEPPARD, DONALD",SAN DIEGO,CA,DATA SCIENTIST,15-2041,STATISTICIANS,541511,1,0,0,0,0,1,0,Y,138507.00,Year,Level IV,OES,2016.0,OFLC ONLINE DATA CENTER,165000.00,0.0,Year,N,N,NaN,NaN,NaN,SAN FRANCISCO,SAN FRANCISCO,CA,94107,NaT,1.0,1.650000e+05
490704,I-200-17151-781176,CERTIFIED,2017-05-31,2017-06-06,H-1B,2017-06-13,2020-06-12,MICROSOFT CORPORATION,NaN,1 MICROSOFT WAY,REDMOND,WA,98052,UNITED STATES OF AMERICA,NaN,4258828080,NaN,N,",",NaN,NaN,DATA SCIENTIST,15-2021,MATHEMATICIANS,51121,1,0,0,0,0,1,0,Y,112570.00,Year,Level III,OES,2016.0,OFLC ONLINE DATA CENTER,165000.00,0.0,Year,N,N,NaN,NaN,NaN,REDMOND,KING,WA,98052,NaT,1.0,1.650000e+05
412,I-200-16266-528448,CERTIFIED,2016-09-27,2016-10-03,H-1B,2016-10-24,2019-10-24,"FACEBOOK, INC.",NaN,1 HACKER WAY,MENLO PARK,CA,94025,UNITED STATES OF AMERICA,NaN,6507393143,NaN,Y,"CHAUDHRY, SHEHRYAR",SAN FRANCISCO,CA,DATA SCIENTIST,15-2031,OPERATIONS RESEARCH ANALYSTS,518112,1,0,0,0,0,1,0,Y,143192.00,Year,NaN,Other,2016.0,RADFORD GLOBAL TECHNOLOGY SURVEY,165000.00,0.0,Year,Y,N,Y,NaN,NaN,MENLO PARK,SAN MATEO,CA,94025,NaT,1.0,1.650000e+05
140932,I-200-17032-706145,CERTIFIED,2017-02-02,2017-02-08,H-1B,2017-02-15,2020-02-14,"JET.COM, INC.",NaN,221 RIVER STREET,HOBOKEN,NJ,07030,UNITED STATES OF AMERICA,NaN,5512274510,NaN,Y,"PALDINO, FRANK",NEW YORK,NY,DATA SCIENTIST,15-2031,OPERATIONS RESEARCH ANALYSTS,454111,1,0,0,0,0,1,0,Y,82139.00,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,165000.00,0.0,Year,N,N,NaN,NaN,NaN,HOBOKEN,HUDSON,NJ,07030,NaT,1.0,1.650000e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548008,I-200-17177-573524,CERTIFIED,2017-07-20,2017-07-26,H-1B,2017-08-01,2020-07-31,"GENERAL DATETECH, LP",NaN,999 METROMEDIA PLACE,DALLAS,TX,75247,NaN,NaN,NaN,NaN,NaN,",",NaN,NaN,DATA SCIENTIST,15-2031,OPERATIONS RESEARCH ANALYSTS,334419,1,0,0,0,0,1,0,Y,51418.00,Year,NaN,OES,2017.0,OFLC ONLINE DATA CENTER,55000.00,0.0,Year,N,N,NaN,NaN,NaN,DALLAS,DALLAS,TX,75247,NaT,1.0,5.500000e+04
105098,I-200-15077-376726,CERTIFIED-WITHDRAWN,2015-03-18,2017-01-17,H-1B,2015-09-10,2018-09-09,"BINARY GROUP, INC.",NaN,1911 N. FORT MYER DRIVE,ARLINGTON,VA,22209,UNITED STATES OF AMERICA,NaN,5714804464,NaN,Y,"MANCINI, MARK",WASHINGTON,DC,ASSOCIATE DATA SCIENTIST,19-4061,SOCIAL SCIENCE RESEARCH ASSISTANTS,541519,1,1,0,0,0,0,0,Y,52978.00,Year,Level III,OES,2014.0,OFLC ONLINE DATA CENTER,55000.00,0.0,Year,N,N,NaN,N,NaN,ARLINGTON,ARLINGTON,VA,22209,2015-03-24,1.0,5.500000e+04
255003,I-200-17066-974065,CERTIFIED,2017-03-07,2017-03-13,H-1B,2017-09-06,2020-09-06,DOMINION ENTERPRISES,NaN,150 GRANBY STREET,NORFOLK,VA,23510,UNITED STATES OF AMERICA,NaN,7573518278,NaN,Y,"ELLIOTT, KENDRA",ENOLA,PA,DATA SCIENTIST,15-1121,COMPUTER SYSTEMS ANALYSTS,511120,1,1,0,0,0,0,0,Y,54974.00,Year,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,54974.00,0.0,Year,N,N,NaN,NaN,NaN,NORFOLK,NORFOLK,VA,23510,NaT,1.0,5.497400e+04
330474,I-200-17075-874452,CERTIFIED,2017-03-16,2017-03-22,H-1B,2017-09-02,2020-09-01,"NECTO-NET CONTACT MANAGEMENT, INC.",NaN,"7324 SW FREEWAY, ARENA TOWER II, SUITE 1464",HOUSTON,TX,77074,UNITED STATES OF AMERICA,NaN,5122287718,NaN,Y,"CHIONGLO, EARVIN ISAAC",HOUSTON,TX,DATA SCIENTIST,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",511210,1,1,0,0,0,0,0,N,26.15,Hour,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,26.15,0.0,Hour,N,N,NaN,Y,NaN,HOUSTON,HARRIS,TX,77074,NaT,2080.0,5.439200e+04
140551,I-200-17033-284644,CERTIFIED,2017-02-02,2017-02-08,H-1B,2017-08-02,2020-08-02,CCC INFORMATION SERVICES INC.,NaN,222 MERCHANDISE MART PLAZA,CHICAGO,IL,60654,UNITED STATES OF AMERICA,NaN,7088316354,NaN,Y,"CORCORAN, THERESA",CHICAGO,IL,DATA SCIENTIST,15-2031,OPERATIONS RESEARCH ANALYSTS,511210,1,1,0,0,0,0,0,Y,53872.00,Year,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,53872.00,86002.0,Year,N,N,NaN,NaN,NaN,CHICAGO,COOK,IL,60654,NaT,1.0,5.387200e+04
142616,I-200-17031-030873,CERTIFIED,2017-02-03,2017-02-09,H-1B,2017-08-02,2020-08-01,ORBITZ WORLDWIDE LLC,NaN,500 W. MADISON STREET,CHICAGO,IL,60661,UNITED STATES OF AMERICA,NaN,4256797200,NaN,Y,"GONZALES, MARGRET ANN",SAN FRANCISCO,CA,DATA SCIENTIST,15-2031,OPERATIONS RESEARCH ANALYSTS,5191,50,50,0,0,0,0,0,Y,53872.00,Year,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,53872.00,0.0,Year,N,N,NaN,NaN,NaN,CHICAGO,COOK,IL,60661,NaT,1.0,5.387200e+04
170394,I-200-17046-797641,CERTIFIED,2017-02-15,2017-02-22,H-1B,2017-08-17,2020-08-17,CCC INFORMATION SERVICES INC.,NaN,222 MERCHANDISE MART PLAZA,CHICAGO,IL,60654,UNITED STATES OF AMERICA,NaN,7088316354,NaN,Y,"CORCORAN, THERESA",CHICAGO,IL,DATA SCIENTIST,15-2031,OPERATIONS RESEARCH ANALYSTS,511210,1,1,0,0,0,0,0,Y,53872.00,Year,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,53872.00,93000.0,Year,N,N,NaN,NaN,NaN,CHICAGO,COOK,IL,60654,NaT,1.0,5.387200e+04
140717,I-200-17033-053490,CERTIFIED,2017-02-02,2017-02-08,H-1B,2017-08-02,2020-08-02,CCC INFORMATION SERVICES INC.,NaN,222 MERCHANDISE MART PLAZA,CHICAGO,IL,60654,UNITED STATES OF AMERICA,NaN,7088316354,NaN,Y,"CORCORAN, THERESA",CHICAGO,IL,DATA SCIENTIST,15-2031,OPERATIONS RESEARCH ANALYSTS,511210,1,1,0,0,0,0,0,Y,53872.00,Year,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,53872.00,114200.0,Year,N,N,NaN,NaN,NaN,CHICAGO,COOK,IL,60654,NaT,1.0,5.387200e+04
214053,I-200-17059-579781,CERTIFIED,2017-02-28,2017-03-06,H-1B,2017-08-28,2020-08-28,YONO HEALTH INC.,NaN,1259 LAKESIDE DRIVE,SUNNYVALE,CA,94085,UNITED STATES OF AMERICA,NaN,6502150487,NaN,Y,"XU, JANE",HOUSTON,TX,DATA SCIENTIST,15-1131,COMPUTER PROGRAMMERS,541511,1,1,0,0,0,0,0,N,25.11,Hour,Level I,Other,2017.0,OFLC ONLINE DATA CENTER,25.11,0.0,Hour,N,N,NaN,Y,NaN,SUNNYVALE,SANTA CLARA,CA,94085,NaT,2080.0,5.222880e+04
369785,I-200-17080-717070,CERTIFIED,2017-03-21,2017-03-27,H-1B,2017-09-01,2020-09-01,BIOMETRIX CO.,NaN,201 W. MAIN ST.,DURHAM,NC,27701,UNITED STATES OF AMERICA,NaN,8563050448,NaN,Y,"BASHYAM, MURALI",RALEIGH,NC,DATA SCIENTIST,15-2031,OPERATIONS RESEARCH ANALYSTS,541712,1,1,0,0,0,0,0,Y,52062.00,Year,Level I,OES,2017.0,OFLC ONLINE DATA CENTER,52062.00,0.0,Year,N,N,NaN,NaN,NaN,DURHAM,DURHAM COUNTY,NC,27701,NaT,1.0,5.206200e+04
331891,I-200-17073-386714,CERTIFIED,2017-03-16,2017-03-22,H-1B,2017-09-01,2020-09-01,BIG DATA ANALYTICS TRADING INC,NaN,1271 CREST OAK WAY,LAWRENCEVILLE,GA,30043,UNITED STATES OF AMERICA,NaN,4049218598,NaN,Y,"YIN, JIARUI",NORCROSS,GA,DATA SCIENTIST,15-2031,OPERATIONS RESEARCH ANALYSTS,42499,1,1,0,0,0,0,0,N,19.42,Hour,Level I,Other,2016.0,OFLC ONLINE DATA CENTER,25.00,0.0,Hour,N,N,NaN,Y,NaN,JOHNS CREEK,FULTON,GA,30097,NaT,2080.0,5.200000e+04
403780,I-200-17081-548993,CERTIFIED,2017-03-27,2017-03-31,H-1B,2017-08-16,2020-08-16,CGI FEDERAL INC.,NaN,12601 FAIRLAKES CIRCLE,FAIRFAX,VA,22033,UNITED STATES OF AMERICA,NaN,7032276000,NaN,Y,"PATTERSON, JENNIFER",WASHINGTON,DC,DATA SCIENTIST,15-1133,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",541512,10,10,0,0,0,0,0,Y,48755.00,Year,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,50700.00,102800.0,Year,N,N,NaN,NaN,NaN,LAFAYETTE,LAFAYETTE,LA,70506,NaT,1.0,5.070000e+04
378021,I-200-17079-192909,DENIED,2017-03-20,2017-03-28,H-1B,2017-10-01,2020-10-01,"OMNI ANALYTICS GROUP, LLC",NaN,1606 SOUTH DUFF AVENUE,AMES,IA,50010,UNITED STATES OF AMERICA,NaN,3187456047,NaN,Y,"BISSAINTHE, MERLAINE",AMES,IA,DATA SCIENTIST,15-2041,STATISTICIANS,541511,1,1,0,0,0,0,0,Y,60091.00,Year,Level II,Other,2017.0,OFLC ONLINE DATA CENTER,50378.00,79518.0,Year,N,N,NaN,Y,NaN,AMES,STORY,IA,50010,NaT,1.0,5.037800e+04

In [121]:
all_final_viz = pd.DataFrame(ds_h1.groupby(['EMPLOYER_STATE'])['ACTUAL_SALARY'].mean()).reset_index()

#### PLOTLY

In [122]:
df = all_final_viz
for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['EMPLOYER_STATE'] + '<br>' +'Salary '+ df['ACTUAL_SALARY']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['EMPLOYER_STATE'],
        z = df['ACTUAL_SALARY'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Millions USD")
        ) ]

layout = dict(
        title = 'H1 B Heat Map',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~jonamjar/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [14]:
test = data_h1[data_h1["EMPLOYER_NAME"] == "OVERSTOCK.COM, INC."]
test[test["JOB_TITLE"] =="ASSOCIATE DATA SCIENTIST"].T

                                                   210109
CASE_NUMBER                            I-200-17052-877782
CASE_STATUS                                     CERTIFIED
CASE_SUBMITTED                        2017-02-27 00:00:00
DECISION_DATE                         2017-03-03 00:00:00
VISA_CLASS                                           H-1B
EMPLOYMENT_START_DATE                 2017-08-21 00:00:00
EMPLOYMENT_END_DATE                   2020-08-20 00:00:00
EMPLOYER_NAME                         OVERSTOCK.COM, INC.
EMPLOYER_BUSINESS_DBA                                 NaN
EMPLOYER_ADDRESS                    799 WEST COLISEUM WAY
EMPLOYER_CITY                                     MIDVALE
EMPLOYER_STATE                                         UT
EMPLOYER_POSTAL_CODE                                84047
EMPLOYER_COUNTRY                 UNITED STATES OF AMERICA
EMPLOYER_PROVINCE                                     NaN
EMPLOYER_PHONE                                 8019473237
EMPLOYER_PHONE_EXT                                    NaN
AGENT_REPRESENTING_EMPLOYER                             Y
AGENT_ATTORNEY_NAME                        PALDINO, FRANK
AGENT_ATTORNEY_CITY                              NEW YORK
AGENT_ATTORNEY_STATE                                   NY
JOB_TITLE                        ASSOCIATE DATA SCIENTIST
SOC_CODE                                          15-2031
SOC_NAME                     OPERATIONS RESEARCH ANALYSTS
NAICS_CODE                                         454111
TOTAL_WORKERS                                           1
NEW_EMPLOYMENT                                          1
CONTINUED_EMPLOYMENT                                    0
CHANGE_PREVIOUS_EMPLOYMENT                              0
NEW_CONCURRENT_EMPLOYMENT                               0
CHANGE_EMPLOYER                                         0
AMENDED_PETITION                                        0
FULL_TIME_POSITION                                      Y
PREVAILING_WAGE                                     44138
PW_UNIT_OF_PAY                                       Year
PW_WAGE_LEVEL                                     Level I
PW_SOURCE                                             OES
PW_SOURCE_YEAR                                       2016
PW_SOURCE_OTHER                   OFLC ONLINE DATA CENTER
WAGE_RATE_OF_PAY_FROM                               65000
WAGE_RATE_OF_PAY_TO                                     0
WAGE_UNIT_OF_PAY                                     Year
H1B_DEPENDENT                                           N
WILLFUL_VIOLATOR                                        N
SUPPORT_H1B                                           NaN
LABOR_CON_AGREE                                       NaN
PUBLIC_DISCLOSURE_LOCATION                            NaN
WORKSITE_CITY                                     MIDVALE
WORKSITE_COUNTY                            SALT LAKE CITY
WORKSITE_STATE                                         UT
WORKSITE_POSTAL_CODE                                84047
ORIGINAL_CERT_DATE                                    NaT
MULTIPLIER                                              1
ACTUAL_SALARY                                       44138

In [15]:
data_h1[data_h1["CHANGE_PREVIOUS_EMPLOYMENT"] != 0]["CASE_STATUS"].value_counts(normalize = True) * 100

CERTIFIED              91.192091
CERTIFIED-WITHDRAWN     4.940641
WITHDRAWN               2.782737
DENIED                  1.084531
Name: CASE_STATUS, dtype: float64

In [126]:
data_h1.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_BUSINESS_DBA', 'EMPLOYER_ADDRESS',
       'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
       'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'AGENT_REPRESENTING_EMPLOYER',
       'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE',
       'JOB_TITLE', 'SOC_CODE', 'SOC_NAME', 'NAICS_CODE', 'TOTAL_WORKERS',
       'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT', 'CHANGE_PREVIOUS_EMPLOYMENT',
       'NEW_CONCURRENT_EMPLOYMENT', 'CHANGE_EMPLOYER', 'AMENDED_PETITION',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY',
       'PW_WAGE_LEVEL', 'PW_SOURCE', 'PW_SOURCE_YEAR', 'PW_SOURCE_OTHER',
       'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY',
       'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'LABOR_CON_AGREE',
       'PUBLIC_DISCLOSURE_LOCATION', 'WORKSITE_CITY', 'WORKSITE_COUNTY',
       'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 'ORIGINAL_CERT_DATE',
       'MULTIPLIER', 'ACTUAL_SALARY'],
      dtype='object')